<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Info -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medSCHED - Dashboard</title>
    <!-- Styles -->
    <link rel="stylesheet" href="static/styles.css" />
    <!-- For plain html -->
    <link rel="stylesheet" href="../../static/styles.css" />
    <link rel="stylesheet" href="../../static/form.css" />
  </head>
  <body>
    <div class="flex flex-no-wrap">
      <!-- Sidebar starts -->
      <div class="fixed">
        <div class="w-64 h-screen sm:relative bg-primary-blue-light shadow flex-col justify-between hidden sm:flex">
          <div class="px-8 h-full">
            <div class="h-16 w-full flex items-center">
              <img src="../../static/img/logo.png" />
            </div>
            <ul class="mt-12">
              <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                <a href="/dashboard" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                <object type="image/svg+xml" data="../../static/svg/dashboard.svg"></object>
                <span class="text-sm ml-2">Schedule</span>
                </a>
                <!-- Do not show the badge if the number of medications to be taken today = 0 -->
              </li>
              <li class="flex w-full justify-between text-white cursor-pointer items-center mb-6">
                <a href="/schedule" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                <object type="image/svg+xml" data="../../static/svg/plugin.svg"></object>
                <span class="text-sm ml-2">Schedule</span>
                </a>
                <div class="py-1 px-3 bg-white rounded text-primary-blue-light flex items-center justify-center text-xs">{{ upcoming_count }}</div>
              </li>
              <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                <a href="/medicines" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                <object type="image/svg+xml" data="../../static/svg/compass-inactive.svg"></object>
                <span class="text-sm ml-2">Medicines</span>
                </a>
              </li>
              <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
                <a href="/prescription" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                <object type="image/svg+xml" data="../../static/svg/plugin-inactive.svg"></object>
                <span class="text-sm ml-2">Prescription</span>
                </a>
              </li>

              <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center">
                <a href="/login" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
                <object type="image/svg+xml" data="../../static/svg/settings-inactive.svg"></object>
                <span class="text-sm ml-2">Logout</span>
                </a>
              </li>
            </ul>
          </div>
<!--          <div class="px-8 border-t border-gray-400">-->
<!--            <ul class="w-full flex items-center justify-between bg-primary-blue-light">-->
<!--              <li class="cursor-pointer text-white pt-5 pb-3">-->
<!--                <button aria-label="show notifications" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">-->
<!--                <i class="fas fa-bell"></i>-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="cursor-pointer text-white pt-5 pb-3">-->
<!--                <button aria-label="open chats" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">-->
<!--                <i class="fas fa-comments"></i>-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="cursor-pointer text-white pt-5 pb-3">-->
<!--                <button aria-label="open settings" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">-->
<!--                <i class="fas fa-cog"></i>-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="cursor-pointer text-white pt-5 pb-3">-->
<!--                <a href="/add"><button aria-label="open logs" class="focus:outline-none cursor-pointer focus:ring-2 rounded focus:ring-gray-300">-->
<!--                <i class="fas fa-plus"></i>-->
<!--                </button></a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </div>
      <div class="w-64 z-40 fixed h-screen bg-primary-blue-light shadow flex-col justify-between sm:hidden transition duration-150 ease-in-out" id="mobile-nav">
        <button aria-label="toggle sidebar" id="openSideBar" class="h-10 w-10 bg-primary-blue-light absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800" onclick="sidebarHandler(true)">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="6" cy="10" r="2" />
            <line x1="6" y1="4" x2="6" y2="8" />
            <line x1="6" y1="12" x2="6" y2="20" />
            <circle cx="12" cy="16" r="2" />
            <line x1="12" y1="4" x2="12" y2="14" />
            <line x1="12" y1="18" x2="12" y2="20" />
            <circle cx="18" cy="7" r="2" />
            <line x1="18" y1="4" x2="18" y2="5" />
            <line x1="18" y1="9" x2="18" y2="20" />
          </svg>
        </button>
        <button aria-label="Close sidebar" id="closeSideBar" class="hidden h-10 w-10 bg-gray-800 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white" onclick="sidebarHandler(false)">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
        <div class="flex flex-col px-8 h-full">
          <div class="h-14 w-full flex items-center">
            <img class="mt-3" src="../../static/img/logo.png" />
          </div>
          <ul class="mt-12">
            <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
              <a href="/dashboard" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
              <object ype="image/svg+xml" data="../../static/svg/dashboard.svg"></object>
              <span class="text-sm ml-2">Dashboard</span>
              </a>
            </li>
            <li class="flex w-full justify-between text-white cursor-pointer items-center mb-6">
              <a href="/schedule" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
              <object type="image/svg+xml" data="../../static/svg/plugin.svg"></object>
              <span class="text-sm ml-2">Schedule</span>
              </a>
              <div class="py-1 px-3 bg-white rounded text-primary-blue-light flex items-center justify-center text-xs">{{ upcoming_count }}</div>
            </li>
            <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
              <a href="/medicines" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
              <object type="image/svg+xml" data="../../static/svg/compass-inactive.svg"></object>
              <span class="text-sm ml-2">Medicines</span>
              </a>
            </li>
            <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center mb-6">
              <a href="/prescription" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
              <object type="image/svg+xml" data="../../static/svg/plugin-inactive.svg"></object>
              <span class="text-sm ml-2">Prescription</span>
              </a>
            </li>
            <li class="flex w-full justify-between text-gray-400 hover:text-gray-300 cursor-pointer items-center">
              <a href="/login" class="flex items-center focus:outline-none focus:ring-2 focus:ring-white">
              <object type="image/svg+xml" data="../../static/svg/settings-inactive.svg"></object>
              <span class="text-sm ml-2">Logout</span>
              </a>
            </li>
          </ul>
          <div class="h-full"></div>
          <div class="px-8 border-t border-gray-400">
            <ul class="w-full flex items-center justify-between bg-primary-blue-light">
              <li class="cursor-pointer text-white pt-5 pb-3">
                <button aria-label="show notifications" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                <i class="fas fa-bell"></i>
                </button>
              </li>
              <li class="cursor-pointer text-white pt-5 pb-3">
                <button aria-label="open chats" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                <i class="fas fa-comments"></i>
                </button>
              </li>
              <li class="cursor-pointer text-white pt-5 pb-3">
                <button aria-label="open settings" class="focus:outline-none focus:ring-2 rounded focus:ring-gray-300">
                <i class="fas fa-cog"></i>
                </button>
              </li>
              <li class="cursor-pointer text-white pt-5 pb-3">
                <button aria-label="open logs" class="focus:outline-none cursor-pointer focus:ring-2 rounded focus:ring-gray-300">
                <i class="fas fa-plus"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sidebar ends -->
      <!-- Container Start -->
      <div class="sm:ml-64  w-full bg-gray-50">
        <div class="container mx-auto h-64 md:w-4/5 w-full px-4 flex flex-col flex-no-wrap">
          <div class="flex flex-col my-9 w-full">
            <button class="self-start" onclick="goBack()">
              <p class="text-sm text-gray-700 dark:text-gray-200">
                <i  class="fas fa-arrow-left"></i>  Go Back
              </p>
            </button>
            <div class="flex">
              <p class="text-3xl font-semibold my-3 dark:text-white">Add A Reminder</p>
              <div class="flex-grow"></div>
            </div>
            <!-- Form start  -->
            <form action="/schedule/submit" method="post">
              <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                  <div class="flex flex-col">
                    <label for="medicine-name" class="block text-sm font-medium text-gray-700">
                    Medicine Name
                    </label>
                    <div class="mt-1 w-full flex rounded-md shadow-sm rounded-l-md border border-r-0 border-gray-300">
                      <input type="text" name="medicine-name" id="medicine-name" class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md sm:text-sm " placeholder="Penicillin">
                    </div>
                  </div>
                  <label for="hours" class="block text-sm font-medium text-gray-700">
                  Time
                  </label>
                  <div class="flex">
                    <select id="hours" name="hours" autocomplete="hours" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      <option>01</option>
                      <option>02</option>
                      <option>03</option>
                      <option>04</option>
                      <option>05</option>
                      <option>06</option>
                      <option>07</option>
                      <option>08</option>
                      <option>09</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                    <span class="mx-2">
                    :
                    </span>
                    <select id="minutes" name="minutes" autocomplete="minutes" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      <option>00</option>
                      <option>05</option>
                      <option>15</option>
                      <option>20</option>
                      <option>25</option>
                      <option>30</option>
                      <option>35</option>
                      <option>40</option>
                      <option>45</option>
                      <option>50</option>
                      <option>55</option>
                    </select>
                    <!-- Am/PM selection.
                      For this what you can do is that if the user selects am then take the time
                      as it is
                      but if the user selects pm then add 12 to the hours variable.
                      -->
                    <select id="halftime" name="halftime" autocomplete="minutes" class="mt-1 block w-full py-2 mx-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                      <option>AM</option>
                      <option>PM</option>
                    </select>
                  </div>
                  <div>
                    <label class="block text-sm font-medium text-gray-700">
                    Notifications
                    </label>
                    <div class="">
                        <input id="mail" name="mail" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        <label for="mail" class="font-medium text-gray-700">E-mail</label>
                      </div>
                      <div class="">
                        <input id="whatsapp" name="whatsapp" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        <label for="mail" class="font-medium text-gray-700">WhatsApp</label>
                      </div>
                    </div>
                  </div>
                  <div class="flex mx-2">
                    <div class="flex-1"><label for="start-date" class="font-medium text-gray-700">Start Date</label>
                      <input type="date" name="start-date" id="start-date" required>
                    </div>
                    <div class="flex-1"><label for="end-date" class="font-medium text-gray-700">End Date</label>
                      <input type="date" name="end-date" id="end-date" required>
                    </div>
                </div>
                <div class="px-4 py-3  text-right sm:px-6">
                  <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                  Save Changes
                  </button>
                </div>
              </div>
              <br><br>
            </form>
          </div>
        </div>
      </div>
      <!-- Container End -->
    </div>
    <script defer src="../../static/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="../../static/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="../../static/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <script>
      function goBack() {
        window.history.back();
      }
      
      var sideBar = document.getElementById("mobile-nav");
      var toggler = document.getElementById("mobile-toggler");
      sideBar.style.transform = "translateX(-260px)";
      let moved = true;
      
      function sidebarHandler() {
        if (moved) {
          sideBar.style.transform = "translateX(0px)";
          moved = false;
        } else {
          sideBar.style.transform = "translateX(-260px)";
          moved = true;
        }
      }
    </script>
  </body>
</html>