<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedSched@login</title>
</head>
<body>
    <h1>Log in</h1>
        <form action="{{ url_for("login_verify")}}" method="POST">
            <label for="first name">Enter email</label>
            <input type="email" id="email" name="email" placeholder="Email">
            <label for="first name">Enter password</label>
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</body>
</html>