<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedSched@Signup</title>
</head>
<body>
    <h1>Sign Up</h1>
        <form action="{{ url_for("signup_verify")}}" method="POST">
            <label for="name">Enter Full Name</label>
            <input type="text" name="name" id="name" placeholder="Name" required>
            <label for="email">Enter Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <label for="password">Enter Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
</body>
</html>