<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form method="post">
        <label for="medicine">medicine name:</label><br>
        <input type="text" id="medicine" name="medicine"><br>
        <label for="time">time:</label><br>
        <input type="text" id="time" name="time"><br>
        <label for="days">days:</label><br>
        <input type="text" id="days" name="days"><br>
        <label for="start">start:</label><br>
        <input type="text" id="start" name="start"><br>
        <label for="end">end:</label><br>
        <input type="text" id="end" name="end"><br>
        <input type="submit" id="submit" name="submit" placeholder="submit">
      </form>
</body>
</html>